{% extends 'base.html' %}

{% block content %}
<div class="alert alert-danger text-center">
    <h3>¿Eliminar la foto "{{ foto.titulo }}"?</h3>
    
    <div class="my-3">
        <img src="{{ foto.imagen.url }}" alt="Eliminar" class="img-thumbnail" style="max-height: 150px;">
    </div>
    
    <p>Esta acción es irreversible.</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Sí, Eliminar</button>
        <a href="{% url 'galeria' %}" class="btn btn-secondary btn-lg">Cancelar</a>
    </form>
</div>
{% endblock %}